.package-container,
.plan-container,
.hosting-container {
  display: flex;
  gap: 2em;
}

.new-btn {
  background-color: blue;
  color: white;
  padding: 1em 3em;
  cursor: pointer;

  text-align: center;
  border-radius: 2em;
}

.new-btn:hover {
  background-color: green;
}

.new-btn:active {
  background-color: darkblue;
}

.new-btn.active {
  background-color: green;
}

.activated {
  cursor: pointer;
}

.notActivated {
  cursor: not-allowed;
}
